html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

::selection {
  background: black;
  color: white;
}

.menu {
  background-color: #a4ba98;
  margin-left: 2vw;
  margin-top: 10vw;
  width: 18vw;
  font-family: Open sans;
  border-radius:2vw;
  padding: 2vw;
  float: left;
}

.menu a{
  font-size: 3vw;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: white;
  transition-duration: 0.5s;
}

.header{
  background-image: url('images/ada-lovelace.jpg');
  text-align: center;
  padding: 6vw;
  float: left;
  margin: 4vw;
  width: 80vw;
  border-radius:4vw;
  font-family: Montserrat;
  background-position: center;
  background-size: cover;
}

.header h1{
  color: white;
  font-size: 7vw
}

.content{
  margin-left: 8vw;
  margin-right: 8vw;
}

p{
  font-size:20px;
  font-family: Open Sans;
}

.homebutton{
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
  width: 92vw;
  font-family: Montserrat;
  border-radius: 2vw;
  border: none;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('images/computer.jpg');
  font-size: 3vw;
}

.homebutton:hover{
  background-image: none;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
  cursor: pointer;
}

h2 {
  font-family: Open Sans;
}

.timeline {
  float: right;
  width: 60%;
}
.timeline-img{
  float: left;
  width: 30%;
  border-radius: 2vw;
}

.timeline-sect{
  float:left;
  margin-bottom: 4vw;
}